OBShopWeb1/Service References/AuthService/Auth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Auth" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://observice.obdesign.com.tw/AD/Security/Auth.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://observice.obdesign.com.tw/AD/Security/Auth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://observice.obdesign.com.tw/AD/Security/Auth.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrangeBear.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuth_GetAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuth" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetAuthFunctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthFunctions" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetAuthFunctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_WriteAuthFunctions_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteAuthFunctions" />
  </wsdl:message>
  <wsdl:message name="IAuth_WriteAuthFunctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteAuthFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetAuthMappings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthMappings" />
  </wsdl:message>
  <wsdl:message name="IAuth_GetAuthMappings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthMappingsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_WriteAuthMappings_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteAuthMappings" />
  </wsdl:message>
  <wsdl:message name="IAuth_WriteAuthMappings_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteAuthMappingsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IAuth_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuth">
    <wsdl:operation name="GetAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/GetAuth" message="tns:IAuth_GetAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/GetAuthResponse" message="tns:IAuth_GetAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthFunctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/GetAuthFunctions" message="tns:IAuth_GetAuthFunctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/GetAuthFunctionsResponse" message="tns:IAuth_GetAuthFunctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteAuthFunctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/WriteAuthFunctions" message="tns:IAuth_WriteAuthFunctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/WriteAuthFunctionsResponse" message="tns:IAuth_WriteAuthFunctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthMappings">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/GetAuthMappings" message="tns:IAuth_GetAuthMappings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/GetAuthMappingsResponse" message="tns:IAuth_GetAuthMappings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteAuthMappings">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/WriteAuthMappings" message="tns:IAuth_WriteAuthMappings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/WriteAuthMappingsResponse" message="tns:IAuth_WriteAuthMappings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/Test" message="tns:IAuth_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/TestResponse" message="tns:IAuth_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuth" type="tns:IAuth">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuth">
      <soap:operation soapAction="http://tempuri.org/IAuth/GetAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthFunctions">
      <soap:operation soapAction="http://tempuri.org/IAuth/GetAuthFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteAuthFunctions">
      <soap:operation soapAction="http://tempuri.org/IAuth/WriteAuthFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthMappings">
      <soap:operation soapAction="http://tempuri.org/IAuth/GetAuthMappings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteAuthMappings">
      <soap:operation soapAction="http://tempuri.org/IAuth/WriteAuthMappings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IAuth/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Auth">
    <wsdl:port name="BasicHttpBinding_IAuth" binding="tns:BasicHttpBinding_IAuth">
      <soap:address location="http://observice.obdesign.com.tw/AD/Security/Auth.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>