OBShopWeb1/Service References/AuthService/Auth.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrangeBear.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrangeBear.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://observice.obdesign.com.tw/AD/Security/Auth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="StructAuth">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Authoritys" nillable="true" type="tns:ArrayOfAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StructAuth" nillable="true" type="tns:StructAuth" />
  <xs:complexType name="ArrayOfAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Authority" nillable="true" type="tns:Authority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthority" nillable="true" type="tns:ArrayOfAuthority" />
  <xs:complexType name="Authority">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Index" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authority" nillable="true" type="tns:Authority" />
  <xs:complexType name="ArrayOfAuthMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthMapping" nillable="true" type="tns:AuthMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthMapping" nillable="true" type="tns:ArrayOfAuthMapping" />
  <xs:complexType name="AuthMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Authoritys" nillable="true" type="tns:ArrayOfAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthMapping" nillable="true" type="tns:AuthMapping" />
</xs:schema>