OBShopWeb1/Service References/ADVerifyService/ADVerify.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ADVerify" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://observice.obdesign.com.tw/AD/Security/ADVerify.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://observice.obdesign.com.tw/AD/Security/ADVerify.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://observice.obdesign.com.tw/AD/Security/ADVerify.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrangeBear.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IADVerify_Verify_InputMessage">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="IADVerify_Verify_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="IADVerify_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="IADVerify_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IADVerify_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IADVerify_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IADVerify">
    <wsdl:operation name="Verify">
      <wsdl:input wsaw:Action="http://tempuri.org/IADVerify/Verify" message="tns:IADVerify_Verify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADVerify/VerifyResponse" message="tns:IADVerify_Verify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IADVerify/GetGroups" message="tns:IADVerify_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADVerify/GetGroupsResponse" message="tns:IADVerify_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IADVerify/GetUsers" message="tns:IADVerify_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADVerify/GetUsersResponse" message="tns:IADVerify_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IADVerify" type="tns:IADVerify">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://tempuri.org/IADVerify/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/IADVerify/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IADVerify/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADVerify">
    <wsdl:port name="BasicHttpBinding_IADVerify" binding="tns:BasicHttpBinding_IADVerify">
      <soap:address location="http://observice.obdesign.com.tw/AD/Security/ADVerify.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>