OBShopWeb1/Service References/EntranceService/Entrance1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrangeBear.Entrance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrangeBear.Entrance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://observice.obdesign.com.tw/AD/Entrance/Entrance.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrangeBear.Security" />
  <xs:import schemaLocation="http://observice.obdesign.com.tw/AD/Entrance/Entrance.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Result">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrangeBear.Security" minOccurs="0" name="Authoritys" nillable="true" type="q1:ArrayOfAuthority" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAccountLogin" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultStatus" type="tns:ResultType" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:simpleType name="ResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="AuthError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultType" nillable="true" type="tns:ResultType" />
</xs:schema>