OBShopWeb1/Service References/OBPrintBarcode/Printer41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://observice.obdesign.com.tw/BarcodePrinter/IO/Printer/BarcodePrinter/Printer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrangeBear.IO.Printer.BarcodePrinter" />
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegister">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="content" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallBackPrintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackPrintSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackPrintSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallBackPrintSingleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackPrintPick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackPrintPickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrangeBear.IO.Printer.BarcodePrinter" minOccurs="0" name="CallBackPrintPickResult" type="q2:PrintResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBackHearBeat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Server">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrangeBear.IO.Printer.BarcodePrinter" minOccurs="0" name="get_ServerResult" nillable="true" type="q3:Server" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_Server">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OrangeBear.IO.Printer.BarcodePrinter" minOccurs="0" name="value" nillable="true" type="q4:Server" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_ServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrinterIDs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrinterIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrinterIDsResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckServiceResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Print">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="content" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintSingleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintPick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintPickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OrangeBear.IO.Printer.BarcodePrinter" minOccurs="0" name="PrintPickResult" type="q8:PrintResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>